
# Connect to Supabase via connection pooling with Supavisor.
DATABASE_URL=

# Direct connection to the database. Used for migrations.
DIRECT_URL=

# CRYPTO
CIPHER_MODE=
CIPHER_KEY=
CIPHER_IV=

# AUTH
JWT_SECRET_KEY=
JWT_EXPIRED_TIME_TOKEN=
JWT_EXPIRED_TIME_RESET_PASSWORD_TOKEN=

CLIENT_URL=


        